.changeMain {
    width: 30%;
    background: #121212;
    color: #fff;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 80px;
    display: flex;
    flex-direction: row;
    padding: 100px 0 40px 0;
    border-radius: 30px;
}

.changeMain>* {
    display: inline-block;
}

.changePanel {
    display: block;
    width: 100%;
    height: inherit;
}

.changePanel input {
    display: block;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(13, 44, 94);
}

.changePanel button {
    width: 80%;
    padding: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #f2d204;
    border-radius: 10px;
    transition: all 0.2s;
    font-size: smaller;
    color: #121212;
}

.changePanel a {
    font-size: x-small;
    display: block;
    position: relative;
    left: 65%;
    text-decoration: none;
    margin-top: 3px;
}

.changePanel h1 {
    display: block;
    margin-top: -50px;
    text-align: center;
    font-weight: 400;
}

.changePanel a:hover {
    text-decoration: underline;
}

.changePanel button:hover:not([disabled]) {
    cursor: pointer;
    background-color: rgba(242, 210, 4, 0.8);
}

.changePanel input::placeholder {
    color: grey;
}

.changePanel p {
    display: inline-block;
    font-size: smaller;
    margin-bottom: 5px;
    margin-left: 10%;
}

.changePanel h3 {
    font-size: medium;
    margin-left: 10%;
    color: rgba(255, 252, 252, 0.648)
}

.checks {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-left: 7%;
    flex-direction: row;
    flex-wrap: wrap;
}

.checks > *{
    display: flex;
    width: 50%;
    justify-content:left;
    align-items: center;
    margin-bottom: 10px;
}
.checks p {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: auto;
}
.checks svg{
    margin-left: 10px;
}
.ic{
    display: none;
}
.checks div[aria-satisfied="true"] > .ic:nth-child(1), .checks div[aria-satisfied="true"] > p{
    display: block;
    color: green;
}

.checks div[aria-satisfied="false"] > .ic:nth-child(2), .checks div[aria-satisfied="false"] > p{
    display: block;
    color: red;
}
.changePanel button:disabled{
    cursor: initial;
}
