:root{
    --text-color:rgba(255, 255, 255, 0.8)
}
.course-right-div{
    position: absolute;
    width: 350px;
    height: fit-content;
    background-color: rgb(35, 61, 88);
    border-radius: 20px;
    margin: 2rem 5rem 0 0;
    overflow: hidden;
    right: 0;
    top: 0;
}

.course-right-div img{
    width: 100%;
    max-height: 250px;
    border-radius: 20px;
}
.no-margin{
    margin: 0;
}
.course-right-div button{
    width:80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    color: white;
    border-radius: 10px;
    transition: all 0.2s;
    font-size: smaller;
}
.bgcolor{
    background-color: var(--background-color);
}
.course-right-div p{
    font-size: smaller;
}
.instruction{
    color:aquamarine;
}
.course-right-div p, .course-right-div h2{
    padding: 0px 2rem;
}
.course-info{
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
}
.course-page-top{
    width: auto;
    padding: 50px 0px 50px 120px;
    height: auto;
    position: relative;
    max-height: 300px;
    z-index: -1;
    background-color: rgb(23, 24, 50);
    color: var(--text-color);

}
.course-page-top >*{
    max-width: 60%;
}
.course-desc{
    color: rgba(255, 255, 255, 0.8);
}
.course-stars{
    width: auto;
    display: flex;
    align-items: center;
    color: yellow;
    margin-top: 10px;
}
.course-stars :nth-child(1){
    margin-left: 5px;
}
.course-stars .course-enrolled{
    width: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}
.course-data{
    display: flex;
    align-items: center;
    width: 300px;
    margin-top: 10px;
}
.course-data :not(:nth-child(1)){
    margin-left: 20px;
}

.course-will-learn{
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 50%;
    height: fit-content;
    width: auto;
    color: var(--text-color);
    margin: 40px 0px 40px 120px;
    padding: 30px 30px;
}
.course-will-learn h2{
    color: white;
    margin: 0 0 10px 0;
}
.course-content{
    padding: 10px 0px 100px 120px;
    background-color: rgb(23, 24, 50);
    height: auto;
    min-height: fit-content;
    color: white;
}

.section{
    display: block;
    height: auto;
    min-height: 10vh;
    width: 60vw;
    border: 1px solid rgba(255, 255, 255, 0.105);
    background-color: rgb(66, 72, 86);
}

.section:hover{
    cursor: pointer;
}
.subsection{
    height: auto;
    padding: 10px 50px;
    display: block;
    background-color: rgb(23, 24, 50);
    width: auto;
}
.subsection-main{
    width: 100%;
    display:flex;
    align-items: center;
}
.subsection-main *{
    margin: 0;
}
.subsection .duration{
    margin-left: auto;
}
.section[active] .subsections{
    max-height: 100vh;
    transition: max-height 0.5s ease-in-out;
}
.section[active] .section-name svg{
    transform: rotate(180deg)
}
.subsections{
    height: auto;
    max-height: 0px;
    width: auto;
    overflow: hidden;
    border: 2px solid rgb(79, 86, 103);
    border-top:none;
}
.section-name{
    display: flex;
    height: 100%;
    padding: 4vh 50px;
    align-items: center;
}
.section-info{
    margin-left: auto;
}
.subsection-description{
    display: none;
    font-size: small;
    width: fit-content;
    margin: 2px 0 0 1.5vw;
}
.subsection-main[active] :nth-child(3){
    transform: rotate(180deg);
}
.subsection-main[active] + .subsection-description{
    display: block;
}
.course-author{
    padding: 50px 120px;
}
.author-info{
    display: flex;
    align-items: center;
}
.course-author img{
    width: 60px;
    border-radius:30px;
    border: 2px solid white;
}

.course-reviews{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}