.enrolled-courses-main{
    padding: 5vh 0 0 20vw;
}

.course-dialog{
    width: 100%;
    height: 70px;
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    gap:5%;
    background-color: var(--background-color);
    align-items: center;
    font-size: medium;
    box-sizing: border-box;
    padding: 0px 20px;
    transition: all 0.1s ease-in-out;
    position: relative;
}
.course-dialog > :nth-child(n+2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-dialog:hover{
    box-shadow: inset -1px 0px 0px 1px rgba(255, 255, 255, 0.075), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.075),0px -1px 5px 1px rgb(16, 20, 31), 0px 1px 5px 2px rgb(16, 20, 31);
    z-index: 9999;
    cursor: pointer;
}
.course-info-enrolled{
    display: flex;
    align-items: center;
    width: 30%;
}
.course-progress{
    width: 15%;
}
.course-data-enrolled p{
    display: block;
    font-size: small;
}
.course-icon{
    width: 50px;
    height: 50px;
    margin-right: 1vw;
    border-radius: 10%;
}
.course-menu{
    font-size: x-large;
}
.courses-enrolled::before{
    content: "Courses";
    background-color: rgb(66, 72, 86);
    height: 12vh;
    align-items: center;
    justify-content: center;
    font-size: large;
    display: flex;
}
.courses-enrolled{
    border: 2px solid rgb(66, 72, 86);
    height: fit-content;
    width: 85%;
}
.course-menu{
    position: relative;
    padding: 10px;
    border: none;
    margin-left: auto;
}
.course-menu:hover{
    cursor: pointer !important;
}
.course-menu[class*="active"] *{
    display: block;
}
.menu{
    height: fit-content;
    font-size: x-small;
    width: 12vw;
    right: 0;
    background-color: black;
    border: 2px solid var(--background-color);
    float: inline-start;
}
.menu div{
    display: flex !important;
    align-items: center;
    padding: 10px;
    transition: all 200ms ease-in-out;
}
.menu div:hover{
    background-color: rgba(255, 255, 255, 0.333);
}
.course-menu > *{
    display: none;
    position: absolute;
}
