body{
    margin: 0;
}
.head{
    width: auto;
    background-color: rgba(28, 25, 41, 0.992);
    display: flex;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.4);
}
#img-logo{
    height: 220px;
    width: 15%;
    background: transparent;
    margin-top: -80px;
    margin-left: 30px;
}
.links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline-block;
    height: 100%;
}

.links button{
    color: white;
    font-size: medium;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 25px;
    background: transparent;
    border: none;
}
.links button:hover{
    cursor: pointer;
    background-color: rgb(8, 2, 44);
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    left: -50px;
    width: 270px;
    height: auto;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    z-index: 1000;
}
.dropdown-content button{
    width: 100%;
    color: black;
    border-radius: 10px;
}
.dropdown-content button:hover{
    background-color:rgba(51, 43, 43, 0.167);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.features{
    width: 150px;
    margin-right: 5%;
    display: flex;
    height: 100%;
}
.features *{
    display: inline-block;
    margin: auto auto;
    color: rgba(255, 249, 249,0.85);
}

.features svg{
    display: block;
    margin: auto auto;
    color: inherit;
}
.features span{
    height: 90%;
    display: flex;
}
.features span:hover, .features span:hover > svg{
    fill: white;
    cursor: pointer;
}
.features button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 249, 249,0.85);
    border-radius: 10px;
}
.features .user-profile img{
    width: 70%;
    border-radius: 30px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid transparent;
}
.features .user-profile{
    border: none;
    padding: 0px;
}
.user-profile:hover img{
    border: 1px solid white;
}
.features .user-profile:hover{
    border: none;
}
.features button:hover{
    border: 1px solid white;
    cursor: pointer;
    color: white;
}  
