body{
    background-color: black;
}
img{
    display: inline-block;
    height: 30%;
    width: 30%;
}

.home-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
.home-container > *{
    width: 40%;
}
.img-sign{
    margin-top: 10%;
}
.SignIn{
    color: #cbeef9;
}
.SignIn p{
    font-size: 15px;
}
.SignIn > h1{
    margin: 0px 0px;
    font-size: 30px;
    font-weight: bos;
}
.role-container{
    width: fit-content;
    background-color: rgb(13, 44, 94);
    padding: 3px 4px;
    border-radius: 30px;
    margin: 20px 0px;
}
input[type="radio"]{
    position: absolute;
    opacity: 0;
}
.role-container p{
    display: inline-block;
    margin: 0;
    font-size: medium;
    padding: 6px 18px;
    border-radius: 20px;
    transition: all 0.15s;
    cursor: pointer;
}
.role-container p:hover{
    background-color: black;
}
.role-container label:nth-child(1){
    margin-right: 8px;
}
.role-container input:checked + p{
    background-color: black;
}