.instructor-courses-main{
    width: auto;
    display: block;
    padding: 5vh 0 0 20vw;
}

.instructor-courses-main .course-data{
    height: 200px;
    color: white;
    display: grid;
    grid-template-columns: 60% repeat(3,1fr);
    width: 100%;
    margin: 25px 0;
}
.instructor-courses-main .course-icon{
    width: 40%;
    height: 40%;
    object-fit: contain;
    border-radius: 1rem;
}
.course-data-enrolled{
    display: grid;
    grid-template-rows: 20% minmax(auto,2.5fr) 1fr 1fr;
    row-gap: 5px;
}
.instructor-courses-main .course-data h3{
    margin: 0;
    margin-bottom: 5px;
}
.course-data-enrolled p{
    color: var(--text-color);
}
.course-data-enrolled h3{
    font-weight: bold;
}
.published{
    color: yellow;
}
.drafted{
    color: rgb(230, 100, 100);
}
.status-div{
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 83);
    width: fit-content;
    padding: 0px 8px;
    box-sizing: border-box;
    font-size: 90%;
    border-radius: 1rem;
}
.create-course-main{
    width: 60%;
    color: white;
    padding: 5vh 0 0 20vw;
    box-sizing: border-box;
    font-size: medium;
}
.course-tracker hr{
    width: 10px;
    height: 0px;
    position: static;
    flex: 1;
    border-top: 2px dashed rgba(202, 198, 247, 0.374);
    background-color: transparent;
}
.course-tracker{
    height: fit-content;
    width: 70%;
    margin: 5vh auto;
}
.course-circle{
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 57, 79);
    border-radius: 50%;
}
.course-tracker{
    display: flex;
    align-items: center;
}

.addcourse-main{
    width: 100%;
    background-color: rgb(26, 38, 55);
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--border-bottom-color);
}
.addcourse-main textarea{
    background-color: rgba(63, 70, 79, 0.579);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
    color: #fff;
    width: 100%;
    min-height: 120px;
}
.addcourse-main label{
    font-size: x-small;
    display: block;
    margin: 15px 0 5px 0;
}
.addcourse-main select{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(63, 70, 79, 0.579) ;
    color: inherit;
}
.addcourse-main .tags{
    display: flex;
    font-size: smaller;
    flex-wrap: wrap;
}
.addcourse-main .tag{
    width: fit-content;
    box-sizing: border-box;
    padding: 5px 4px;
    background-color: rgb(57, 57, 72);
    border-radius: 20px;
    margin: 0 8px 8px 0;
}
.addcourse-main .tag:hover{
    cursor: pointer;
}