:root{
    --hover-background: rgba(255, 255, 255, 0.237);
    --active-background: rgba(255, 255, 255, 0.5);
}
.instructor-courses-main{
    width: auto;
    display: block;
    padding: 5vh 5vw 0 20vw;
}

.instructor-courses-main .course-data{
    color: white;
    display: grid;
    grid-template-columns: 60% repeat(3,1fr);
    width: 100%;
    margin: 25px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--border-bottom-color)
}
.course-icon{
    width: 40%;
    height: 40%;
    object-fit: contain;
    border-radius: 1rem;
}
.instructor-courses-main .course-info-enrolled{
    width: auto;
}
.course-data-enrolled{
    display: grid;
    grid-template-rows: minmax(20%,min-content) minmax(auto,2fr) 1fr 1fr;
    row-gap: 5px;
    margin: 0 !important;
}
.course-info-enrolled  *{
    margin-left: 0 !important;
}
.instructor-courses-main .course-data h3{
    margin: 0;
    margin-bottom: 5px;
    display: block;
}
.course-data-enrolled p{
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-data-enrolled h3{
    font-weight: bold;
}
.published{
    color: yellow;
}
.drafted{
    color: rgb(230, 100, 100);
}
.status-div{
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 83);
    width: fit-content;
    padding: 0px 8px;
    box-sizing: border-box;
    font-size: 90%;
    height: 30px;
    border-radius: 1rem;
}
.create-course-main{
    width: 60%;
    color: white;
    box-sizing: border-box;
    font-size: medium;
    overflow: auto;
}
.current-stage{
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
}
.completed{
    content: '';
    background-color: var(--highlight-color) !important;
}
.course-tracker hr{
    width: 10px;
    height: 0px;
    position: static;
    flex: 1;
    border-top: 2px dashed rgba(202, 198, 247, 0.374);
    background-color: transparent;
}
.course-tracker{
    height: fit-content;
    width: 70%;
    margin: 5vh auto;
}
.relative{
    position: relative;
}
.right-btn{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15vh !important;
}
.course-circle{
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 57, 79);
    border-radius: 50%;
}
.course-tracker{
    display: flex;
    align-items: center;
}
span{
    display: inline-block;
}
button[type="submit"]{
    float: right;
    display: block;
    width: 15%;
}
button[type="submit"]::after{
    clear: both;
    content: '';
    display: block;
}
.addcourse-main, .publish-course-main{
    width: 100%;
    background-color: rgb(26, 38, 55);
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--border-bottom-color);
    overflow: auto
}
.addcourse-main textarea, dialog textarea{
    background-color: rgba(63, 70, 79, 0.579);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
    color: #fff;
    width: 100%;
    min-height: 120px;
}
form label{
    font-size: x-small;
    display: block;
    margin: 15px 0 5px 0;
}
.addcourse-main select{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(63, 70, 79, 0.579) ;
    color: inherit;
}
.addcourse-main .tags{
    display: flex;
    font-size: smaller;
    flex-wrap: wrap;
}
.addcourse-main .tag{
    width: fit-content;
    box-sizing: border-box;
    padding: 5px 6px;
    background-color: rgb(57, 57, 72);
    border-radius: 20px;
    margin: 0 8px 8px 0;
    display: flex;
    align-items: center;
}
.addcourse-main .tag svg{
    padding: 2px;
}
.addcourse-main .tag:hover svg{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.341);
    border-radius: 50%;
}
.special{
    background-color: transparent;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
}
.cloud-icon{
    background-color: black;
    color: var(--highlight-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}
.course-image-div, .course-video-div{
    width:100%;
    min-height: 20vh;
    padding: 15px;
    background-color:rgba(63, 70, 79, 0.579); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--text-color);
}
.red{
    color: yellow;
}

.link{
    background-color: transparent;
    border: none;
    color: yellow;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}
.section-edit, .subsection-edit{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 25px;
    background-color: transparent
}
.sections-edit{
    background-color: rgba(80, 81, 109, 0.379);
    margin-bottom: 10px;
    border-radius: 10px;
}
.subsection-actions{
    margin-left: auto;
}
.subsection-adder{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.section-name-edit{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px 0;
}
svg[clickable]{
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    transition: all 0.1s ease-in-out;
    overflow: visible;
}
svg[clickable]:hover{
    background-color: var(--hover-background);
}
svg[clickable]:active{
    background-color: var(--active-background);
}
hr.vertical{
    width: 10px;
    position: unset;
    height: 0;
    border-top: 1px solid var(--border-bottom-color);
    transform-origin: center;
    transform: rotateZ(90deg) scaleX(2.5);
    margin-right: 10px;
}
input:disabled{
    border-bottom: 2px solid transparent !important;
    outline: none;
}
input.inplace{
    width: 40%;
    margin: unset;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--border-bottom-color);
    outline: none;
}
input.inplace:focus{
    border-bottom-color: blue;
}
dialog{
    padding: 20px 30px;
    width: fit-content;
    background-color: rgb(76, 78, 126);
    border-radius: 15px;
    color: #fff;
    border: 1px solid var(--border-bottom-color)
}
.checkbox{
    margin-top: 20px;
}
.checkbox input[type="checkbox"]{
    appearance: none;
}
.checkbox-label ::after{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.237);
}
#public:checked svg{
    display: block;
}
.add-lecture{
    width: 80px !important;
}