.loginMain{
    width: 100%;
    background: black;
    color: #fff;
    display: flex;
    flex-direction: row;
  }
  
  .loginMain > *{
    display: inline-block;
  }
  .loginPanel{
    display: block;
    width:80%;
    height: inherit;
  }
  
  .loginPanel input{
    display: block;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: rgb(13, 44, 94);
  }
  
  .loginPanel button{
      width:100%;
      padding: 10px;
      margin-top:30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color:#f2d204;
      border-radius: 10px;
      transition: all 0.2s;
  }
  
  .loginPanel a{
    font-size: x-small;
    display: block;
    margin-left: auto;
    width: fit-content;
    text-decoration: none;
    margin-top: 3px;
  }
  .loginPanel h1{
    display: block;
    text-align: center;
  }
  .loginPanel a:hover{
    text-decoration: underline;
  }
  .loginPanel button:hover{
      cursor:pointer;
      background-color: rgba(242, 210, 4,0.8);
  }
  .loginPanel input::placeholder{
    color: rgb(162, 159, 159);
  }
  
  .loginPanel p{
    display: inline-block;
    font-size: x-small;
    margin-bottom: 2px;
  }
  
  
  
  