.loginMain{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
  }
  
  .loginMain > *{
    display: inline-block;
  }
  .loginPanel{
    display: block;
    width:80%;
    height: inherit;
  }
  
  .loginPanel input, .addcourse-main input{
    display: block;
    color: #fff;
    border: none;
    border-bottom: 1px solid var(--border-bottom-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: rgba(63, 70, 79, 0.579);
    font-size: smaller;
  }
  
  .loginPanel input:focus{
    outline: none;
    border-bottom: 1px solid var(--border-bottom-hover);
  }

  .loginPanel button{
      width:100%;
      padding: 10px;
      margin-top:30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color:#f2d204;
      border-radius: 10px;
      transition: all 0.2s;
      font-size: smaller;
  }
  
  .loginPanel a{
    font-size: smaller;
    display: block;
    margin-left: auto;
    width: fit-content;
    text-decoration: none;
    margin-top: 3px;
  }
  .loginPanel h1{
    display: block;
    text-align: center;
  }
  .loginPanel a:hover{
    text-decoration: underline;
  }
  .loginPanel button:hover{
      cursor:pointer;
      background-color: rgba(242, 210, 4,0.8);
  }
  input::placeholder,*::placeholder{
    color: rgba(166, 165, 165, 0.904);
  }
  
  .loginPanel p{
    display: inline-block;
    font-size:smaller;
    margin-bottom: 2px;
  }
  
  
  
  