.white{
    color: white;
}
:root{
    --var-color: #ffffff;
}
.inline{
    display: inline;
}
.desc{
    color: #999;
}
.center{
    text-align: center;
}

.btn-1{
    color: white;
    background-color: rgb(102, 51, 153);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all ease-in 0.1s;
    margin-top: 2.5%;
}
.btn-1:hover{
    background-color: rgba(102, 51, 153,0.9);;
}
.btn-1:active{
    background-color: rgba(102, 51, 153,0.7);
}

.site-motto{
    display: flex;
    color: white;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.site-motto h1 > p{
    display: inline-block;
}
.site-motto > p{
    text-align: center;
    color: rgb(214, 214, 214);
}
.img-dv{
    height: fit-content;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.img-dv img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70%;
    width: 80%;
    box-shadow: 0 0 50px rgb(169, 225, 222);
}

.designated{
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(to right,rgb(19, 243, 255),rgba(19, 243, 255,1));
    background-clip: text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
}
.btn-semisquare{
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    font-size: small;
    font-weight: 800;
}
.btn{
    margin: 20px 30px 0px 0px;
    transition: all 0.25s;
    border: none;
}
.btn:hover{
    scale: 0.90;
    cursor: pointer;
}
.btn:active{
    filter:brightness(70%);
}
.yellow{
    background-color: #f2d204;
}
.dv1,.dv2,.dv4{
    display: flex;
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (orientation: portrait){
    .dv1, .dv2{
        flex-direction: column;
    }
}
.dv1-text, .dv2-text{
    color: white;
    width: 50%;
    max-width: vmin;
    display: block;
}
.dv1-text h1, .dv2-text h1, .dv4-text h1{
    font-size: vmin;
}

.dv1-desc, .dv4-desc{
    filter: brightness(70%);
    line-height: 30px;
    display: block;
}
.dv1 .btn-container, .dv4 .btn-container{
    display: flex;
    width: 100%;
    justify-content: baseline;
}


.dv1-code, .dv2-code{
    display: block;
    position: relative;
    width: 40%;
    height: 10%;
    margin: auto auto;
    background-color: rgba(10, 6, 34,0.7);
    line-height: 1;
    border: 1px solid rgba(100,100,100,0.6);

}
.dv1-code > p, .dv2-code > p{
    width: 0;
    overflow: hidden;
    color:rgb(51, 167, 224);
    white-space: nowrap;
    margin-left: 10%;
    animation-name: typing;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function:steps(80,end);
    animation-fill-mode: forwards;
    max-width: fit-content;
}
.l2{
    animation-delay: 4s;
}
.l3{
    animation-delay: 8s;
}
.l4{
    animation-delay: 12s;
}
.l5{
    animation-delay: 16s;
    margin-left: 15% !important;
}
.l6{
    animation-delay: 20s;
}
.l7{
    animation-delay: 24s;
}
.l8{
    animation-delay: 28s;
    margin-left: 15% !important;
}
.l9{
    animation-delay: 32s;
    margin-left: 15% !important;
}
.l10{
    animation-delay: 36s;
    margin-left: 15% !important;
}
.l11{
    animation-delay: 40s;
}
@keyframes typing {
    0%{ width: 0%; border-right: 1px solid rgba(100,100,100,0.5);}
    100%{ width: 100%; border-right: none;}
}
p > p{
    display: inline;
}
.keyword {
    color: #eb8749;
    font-weight: bold;
  }
.directive{
    color: #f2d204;
}

  
.comment {
    color: #999;
  }
  
.function {
    color: #00f;
    font-weight: bold;
  }
.type{
    color: #eb8749;
} 
.variable {
    color: rgb(36, 129, 195);
  }
.code-lang{
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
}
.code-lang h1,h3{
    margin-top: 20%;
    margin-bottom: 0;
}
.code-lang{
    border-left: 2px solid rgba(100,100,100,0.6);
    border-bottom: 2px solid rgba(100,100,100,0.6);
    padding: 0px 10px 10px 10px;
}
.dv2-code > p{
    filter: invert(1);
}
.dv3-cards{
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    margin-top: 5%;
    z-index: 10;
}
.dv3 h1{
    margin-top: 10%;
    margin-bottom: 0;
}
.container{
    height: 300px;
    width: 360px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .heading{
    margin-top: 7.5%;
    font-size: larger;
    font-weight: bold;
    margin-left: 5%;
}
.container .description{
    margin-left: 5%;
    margin-top: 0;
    color: rgba(128, 128, 128,1);
    height: 40%;
    width: 90%;
}
.container .course-info{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 20%;
    width: 100%;
    border-top: 2px dashed rgba(100,100,100,0.8);
    color:rgb(6, 128, 165);
}
.container .course-info div{
    display: flex;
    align-items: center;
    width: 29%;
    min-width: fit-content;
    justify-content: space-between;
}

.card2 , .card3{
    background-color: #0f2136;
    transition: all 0.225s ease-out;
}
.card1{
    transition: all 0.225s ease-out;
}
.card1:hover{
    background-color: #cee3fb;
    cursor: pointer;
}
.card2 .heading, .card3 .heading{
    color: var(--var-color);
}
.card2:hover, .card3:hover{
    background-color: white;
    --var-color: black;
    cursor: pointer;
}
.dv3-designated{
    position: relative;
}
.rect{
    position: absolute;
    background-color: #f2d204;
    top:0;
    z-index: -1;
    left: 20px;
    top: 20px;
}
.dv3 .role-container{
    color:white;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
.dv3 .role-container p{
    font-size: 1.25vmax;
    
}
.rect .course-info{
    border:none;
}
.new-dv{
    width: 100%;
    position: relative;
    margin-top: -10%;
    background-color: #ffffff;
    z-index: -10;
    height: 340px;
    background-image: url("https://studynotion.tech/static/media/bghome.375fb56613960391899c.svg");
}
.btn-container{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}
.btn-container :not(:nth-last-child(1)){
    margin-right: 10px;
}

.new-dv-features{
    width: fit-content;
    top: 0;
    bottom: 0;
    margin: -10% auto;
    left: 0;
    right: 0;
}
.white-dv {
    margin-top: 10%;
    background-color: white;
    height: fit-content;
}

.dv4{
    height: 320px;
    display: flex;
}
.dv4-text{
    width: fit-content;
    margin-top: 7.5%;
}
.dv4 h1{
    margin: auto;
}
.dv4 .dv4-right{
    margin-top: 7.5%;
}
.round{
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 1px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.flex-row img{
    height: 50%;
    width: 50%;
}
.row-desc{
    width: auto;
}
.flex-row{
    display: flex;
    width: 450px;
    justify-content: flex-start;
}
.dv5,.dv7{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dv5-img{
    width: 50%;
    position: relative;
}
.dv5-img img{
    width: 100%;
    height: 100%;
}
.blank-dv{
    width: 400px;
    height: 50px;
    border-left: 2px dashed gray;
    margin: 10px 0px 10px 25px;
}
.img-info{
    background-color: rgb(11, 67, 4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    width: 60%;
    color: rgb(2, 147, 2);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
}
.img-info > *{
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-info p{
    font-size: small;
    width: 50%;
}
.img-info bold{
    color: white;
    font-size: xx-large;
}
.vl{
    width: 1px;
    border-right: 2px solid chocolate;
}
.text-center{
    text-align: center;
}
.dv6 p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.dv6 .imges{
    display: flex;
    justify-content: center;
    width: fit-content;

}
.dv6 .imges :nth-child(-n+2){
    margin-right: -5%;
}
@media  screen and (max-width: 800px) {
    .dv6 .imges{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        flex-flow: column;
        align-items: center;
    }
}
.dv7 > *{
    width: 45%;
}
.dv7 img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dv7{
    height: 600px;
}
.dv6 button{
    margin: 20px auto 0px;
    display: block;
}
.reviews{
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
}
@media  screen and (max-width:992px) {
    .reviews{
        flex-direction: column;
        align-items: center;
    }
    .reviews .person-info{
        margin: 20px;
    }
}
.person-info{
    width: 300px;
    white-space: wrap;
    height: fit-content;
    max-height: fit-content;
    color: #cee3fb;
    background-color: #0f2136;
    display: inline-block;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    margin: 0px 20px;
    vertical-align: top;
}
.reviews{
    display: flex;
    margin-bottom: 3em;
}
.review-container{
    display: block;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}
@keyframes slider {
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}
.person-info .div1{
    display: flex;
    align-items: center;
}
.div1 .round{
    color: #00f;
}
.div1 .reviews-name{
    font-size: small;
}
.div1 .reviews-info{
    font-size: x-small;
    color: #999;
}
.review-content{
    font-weight: 300;
    font-size: small;
    margin: 20px 0px;
}
.review-stars :nth-child(1){
    margin-left: 10px;
}
.review-stars{
    display: flex;
    align-items:center;
    color: #f2d204;
}
.child-no-margin *{
    margin: 0;
}