.profile-main{
    width: auto;
    padding: 50px 0 50px 120px;
    color: rgb(255, 255, 255);
}

.profile-page-info{
    width: 40rem;
    background-color: rgba(61, 69, 74, 0.674);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.156);
}
.profile-page-info img{
    width: 4rem;
    border-radius: 100%;
    display: inline-block;
}
.profile-page-main-info{
    display: block;
    margin-left: 5%;
    width: 300px;
}
.profile-page-info button, .profile-details-top button{
    margin: 0;
    margin-left: auto;
    margin-right: 5%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.profile-page-details{
    width: 40rem;
    background-color: rgba(61, 69, 74, 0.674);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.156);
}

.profile-details-top{
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.field{
    width: 150px;
    padding: 10px;
    display: inline-block;
}
.profile-page-fields :nth-child(even){
    position: absolute;
    right: 0;
}
.profile-page-fields{
    width: 60%;
    height: auto;
    position: relative;
}

.profile-page-info .edit{
    margin-left: 0;
    margin-top: 10px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
}
.col{
    display: inline-block;
    width: 45%;
}
.col > p{
    color: var(--text-color);
}
.profile-main input:focus{
    outline: none;
    border-bottom: 1px solid var(--border-bottom-hover);
  }
.profile-main .col > input{
    display: block;
    color: #fff;
    border: none;
    border-bottom: 1px solid var(--border-bottom-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-size: smaller;
  }

  input[type="date"]::-webkit-calendar-picker-indicator{
    color-scheme: dark;
  }
.gender{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 10px;
}
.gender input[type="radio"], .gender input[type="radio"]:focus{
    appearance: none;
    opacity: 1;
    position: static;
    border: none;
    margin: 0;
}
.small-circle{
    height: 14px;
    width: 14px;
    background-color: var(--highlight-color);
    border-radius: 100%;
    position: absolute;
    display: none;
 }
 .gender .circle{
    height: 19px;
    width: 19px;
    border-radius: 100%;
    position: relative;
    background-color: transparent;
    border: 2px solid var(--border-bottom-color);
 }
 
.gender input[type="radio"]:checked + .circle .small-circle{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}
 .gender input[type="radio"]:checked + .circle{
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--highlight-color);
    display: inline-block;
 }
  .gender > div{
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    position: relative;
  }
  .gender label{
    display: inline-block;
    margin-left: auto;
    width: auto;
    font-size: small;
    margin-left: 5px;
  }