@import url("https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.4/dist/css/tom-select.css");
.profile-main{
    width: auto;
    padding: 20px 0 0px 5rem;
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}
:root{
    --input-color: rgba(110, 114, 114, 0.214);
}
.profile-page-info{
    width: 40rem;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.156);
}
.profile-page-info img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-block;
}
.profile-page-main-info{
    display: block;
    margin-left: 5%;
    width: 300px;
}
.profile-page-info button, .profile-details-top button{
    margin: 0;
    margin-left: auto;
    margin-right: 5%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.profile-page-details{
    width: 40rem;
    background-color: rgba(61, 69, 74, 0.4);
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.156);
}

.profile-details-top{
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.field{
    width: 150px;
    padding: 10px;
    display: inline-block;
}
.profile-page-fields :nth-child(even){
    position: absolute;
    right: 0;
}
.profile-page-fields{
    width: 60%;
    height: auto;
    position: relative;
}

.profile-page-info .edit{
    margin-left: 0;
    margin-top: 10px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
}
.col{
    display: inline-block;
    width: 45%;
}
.col > p{
    color: var(--text-color);
}
.profile-main input:focus{
    outline: none;
    border-bottom: 1px solid var(--border-bottom-hover);
  }
.profile-main .col > input, .phone-number input, .main-block input{
    display: inline-block;
    color: #fff;
    border: none;
    border-bottom: 1px solid var(--border-bottom-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: var(--input-color);
    font-size: smaller;
  }

  input[type="date"]::-webkit-calendar-picker-indicator{
    color-scheme: dark;
  }
.gender{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 10px;
}
.gender input[type="radio"], .gender input[type="radio"]:focus{
    appearance: none;
    opacity: 1;
    position: static;
    border: none;
    margin: 0;
}
.small-circle{
    height: 14px;
    width: 14px;
    background-color: var(--highlight-color);
    border-radius: 100%;
    position: absolute;
    display: none;
 }
 .gender .circle{
    height: 19px;
    width: 19px;
    border-radius: 100%;
    position: relative;
    background-color: transparent;
    border: 2px solid var(--border-bottom-color);
 }
 
.gender input[type="radio"]:checked + .circle .small-circle{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}
 .gender input[type="radio"]:checked + .circle{
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--highlight-color);
    display: inline-block;
 }
  .gender > div{
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    position: relative;
  }
  .gender label{
    display: inline-block;
    margin-left: auto;
    width: auto;
    font-size: small;
    margin-left: 5px;
  }
  .phone-number input{
    width: 75%;
    margin: 0;
  }
 .phone-number{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.phoneInput select{
    width: 20% !important;
}
.main-block{
    width: 100%;
}
.main-block div{
    width: 50%;
    display: inline-block;
    margin-top: 10px;
}
.main-block div input{
    width: 90%;
    margin-top: 5px;
}

.btns{
    display: flex;
    margin-left: 0 !important;
    width: 40rem;
    justify-content: end;
    padding: 0px 20px;
}
.btns .btn{
    width: 15%;
    font-size: 1rem;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}
.profile-page-main-info label{
    padding: 10px 20px;
    color: black;
}
.profile-page-info .loader{
    margin: 35px 0 0 20px;
}
.phoneInput select{
    width: fit-content;
    margin-right: 10px;
    padding: auto 0px;
    appearance: none;
    background-color: var(--input-color);
}
input[type="file"]{
    display: none;
}
.delete-account{
    width: 40rem;
    background-color: #b709097d;
    border-radius: 20px;
    display: flex;
    height: fit-content;
    padding: 20px;
    border: 2px solid #ea0c0c74;
    margin-top: 1rem;
}
.confirm-delete{
    color: #f5d1d1;
}
.confirm-delete h3{
    color: #fff;
}
.confirm-delete a{
    text-decoration: none;
    color:#c70d0df9;
    font-style: italic;
    font-weight: bold;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.delete-account img{
    height: 40px;
    color: #fff;
    width: fit-content;
    display: block;
    margin-right: 1rem;
}
.delete-dialog{
    display: block;
    width: fit-content;
    padding: 5rem;
    position: absolute;
    height: fit-content;
    background-color: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--border-bottom-color);
    font-size: medium;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto auto;
    z-index: 100;
}
.delete-confirm{
    text-align: center;
}
.delete-confirm :nth-child(2){
    background-color: red;
    color: #fff;
}
#select-state option{
    appearance: none;
    background-color: var(--background-color);
    color: white;
}
::-webkit-scrollbar{
    background-color:black;
    color: var(--text-color);
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--background-color);
}
