.SigninMain{
    width: 100%;
    background: transparent;
    position: relative;
    border-radius: 30px;
    display: inline-block;
  }
  
  .SigninMain > *{
    display: inline-block;
  }
  .SigninPanel{
    display: block;
    width:80%;
    height: inherit;
  }
  
  .SigninPanel input{
    display: block;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: rgb(13, 44, 94);
    box-sizing:border-box;
    margin-bottom: 1%;
  }
  .SigninMain p{
    display: block;
    font-size: x-small;
    margin-bottom: 4px;
  }
  .SigninPanel button{
      width:100%;
      padding: 10px;
      margin-top:20px;
      display: block;
      background-color:#f2d204;
      border-radius: 8px;
      transition: all 0.2s;
  }
  
  .SigninPanel a{
    font-size: x-small;
    display: block;
    position: relative;
    left:65%;
    text-decoration: none;
    margin-top: 3px;
  }
  .SigninPanel h1{
    display: block;
    margin-top: -50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .SigninPanel a:hover{
    text-decoration: underline;
  }
  .SigninPanel button:hover{
      cursor:pointer;
      background-color: rgba(242, 210, 4,0.8);
  }
  .SigninPanel input::placeholder{
    color: grey;
  }

.nameInput{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.nameInput > *{
  width: 45%;

}
.empty{
  outline: none;
}
.empty:focus{
  border: 2px solid red;
}
.loader{
  float:left;
}
.phoneInput{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.phoneInput select{
    padding: 10px;
    display: inline-block;
    background-color:rgb(13, 44, 94);
    border-radius: 10px;
    color: inherit;
}
.phoneInput input{
    width:80%;
    box-sizing: border-box;
    display: inline-block;
}
input[type="number"]::-webkit-inner-spin-button, input[type="button"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
}
.passwordInput{
  display: flex;
    width: 100%;
    justify-content: space-between;
}
.passwordInput > *{
  width: 45%;
}
.SigninPanel .message{
    width: 100%;
    color: rgb(229, 3, 3);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:-2%;
    left: 0;
    right: 0;
    font-weight: bold;
}