.verifyMain{
    width: 30%;
    background: black;
    color: #fff;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    top: 100px;
    display: flex;
    flex-direction: row;
    padding: 100px 0 100px 0; 
    border-radius: 30px;
  }
  
  .verifyMain > *{
    display: inline-block;
  }
  .verifyPanel{
    display: block;
    width:100%;
    height: inherit;
  }
  
  .verifyPanel input{
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(13, 44, 94);
  }
  
  .verifyPanel button{
      width:65%;
      padding: 10px;
      margin-top:30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color:#f2d204;
      border-radius: 10px;
      transition: all 0.2s;
  }
  
  .verifyPanel a{
    font-size: x-small;
    display: block;
    position: relative;
    left:65%;
    text-decoration: none;
    margin-top: 3px;
  }
  .verifyPanel h1{
    display: block;
    margin-top: -50px;
    margin-bottom: 20px;
    text-align: center;
  }
  .verifyPanel a:hover{
    text-decoration: underline;
  }
  .verifyPanel button:hover{
      cursor:pointer;
      background-color: rgba(242, 210, 4,0.8);
  }
  .verifyPanel input::placeholder{
    color: white;
  }
  
  .verifyPanel p{
    display: inline-block;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
  }

  .code{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .code *{
    text-align: center;
  }
 
  .code input{
     caret-color: transparent;
  }
  
  
  
  